<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="employees" routerLinkActive="active">List</a>
      </li>
      <li>
        <a routerLink="employees/create" routerLinkActive="active">Create</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>